
$primary-color: #cca53b;
$secondary-color: gainsboro;
// $dark-color: #002238;
$dark-color: #001625;
$font-sans: 'Montserrat', sans-serif;
$font-serif: 'Abril Fatface', serif;
$font-big: 60px;
$font-medium: 30px;
$font-small: 20px;
$font-p: 15px;
$font-heavy: 700;
$font-light: 400;


.page-header {
    display: flex;
    width: 100%;
    align-items: center; 
    color: $primary-color;
    justify-content: flex-end;
}

.logo{
    font-family: $font-serif;
    font-size: $font-big;
    line-height: 1.6;
    color: $primary-color;
    // justify-self: start;
}

.logo:hover {
    color: $primary-color;
}

.btn-logout {
    background-color: transparent !important;
    border: 1px solid $primary-color;
    border-radius: 0;
    color: $primary-color !important;
    padding:  0.75rem;
}

.btn-logout:active,
.btn-logout:hover,
.btn-logout:focus
 {
    border: 1px solid $primary-color !important;
    box-shadow: none !important;
}
  
.page-header__item {
    background-color: $primary-color;
    color: $primary-color;
    margin: 1rem;
}

.page-header__item:last-child {
    background-color: $primary-color;
    color: $dark-color;
    font-weight: $font-heavy;
}

.navbar {
    padding: 2rem 0rem;
}

.nav-link {
    padding: 0.5rem 1rem;
}

// .nav-link:active,
// .nav-link:hover,
// .nav-link:focus
//  {
//     padding: 0.5rem 1rem;
// }
