$primary-color: #cca53b;
$secondary-color: gainsboro;
$dark-color: #001625;
$font-sans: 'Montserrat', sans-serif;
$font-serif: 'Abril Fatface', serif;
$font-big: 60px;
$font-medium: 30px;
$font-small: 20px;
$font-p: 15px;
$font-heavy: 700;
$font-light: 400;

.movie-view {
  border-top: 1px dotted $primary-color;
  padding-top: 2rem;
  padding-right: 0;
  padding-left: 0;
}

.movie-title {
  padding-top: 2rem;
  padding-bottom: 1.5rem;
}

h3 {
  padding-top: 1.5rem;
}

.btn-primary {
  box-shadow: none;
  border: none;
}
  
.btn-primary:active,
.btn-primary:hover,
.btn-primary:focus {
  color: $dark-color !important;
  background-color: $secondary-color !important;
  box-shadow: none;
  text-decoration: none;
}

.btn-link{
  background-color: transparent !important;
  border: 1px solid $primary-color;
  border-radius: 0;
  color: $primary-color !important;
  padding:  0.4rem;
  width: 100%;
}

// .movie-poster{
//   display: flex;
//   justify-content: space-between;
// }

.btn-add{
  margin-top: 2rem;
  // justify-self: flex-end;
}