$primary-color: #cca53b;
$secondary-color: gainsboro;
// $dark-color: #002238;
$dark-color: #001625;
$font-sans: 'Montserrat', sans-serif;
$font-serif: 'Abril Fatface', serif;
$font-big: 60px;
$font-medium: 30px;
$font-small: 20px;
$font-p: 15px;
$font-heavy: 700;
$font-light: 400;

.login {
    margin-right: 0px;
    margin-left: 0px;
    display: grid;
}

.login-view {
    width: 70%;
    justify-self: center;
    align-self: center;
    padding-top: 30px;
}

.nav-link {
    padding: 0.5rem 1rem;
}

.btn {
    color: $dark-color;
    background-color: $primary-color;
    font-weight: $font-heavy;
}

.btn-primary,
.btn-primary {
    color: $secondary-color;
    background-color: $primary-color !important;
    box-shadow: none;
}