$primary-color: #cca53b;
$secondary-color: gainsboro;
$dark-color: #001625;
$font-sans: 'Montserrat', sans-serif;
$font-serif: 'Abril Fatface', serif;
$font-big: 60px;
$font-medium: 30px;
$font-small: 20px;
$font-p: 15px;
$font-heavy: 700;
$font-light: 400;

.login-view {
  display: grid;
  margin-right: 0px;
  margin-left: 0px;
  padding-top: 2rem;
  padding-right: 0;
  padding-left: 0;
}

.login {
  width: 70%;
  justify-self: center;
  align-self: center;
  padding-top: 30px;
}

.nav-link {
  padding: 0.5rem 1rem;
}
  
.btn-logout {
  visibility: hidden;
}

.btn-profile{
  visibility: hidden;
}
  