$primary-color: #cca53b;
$secondary-color: gainsboro;
// $dark-color: #001625;
$dark-color: #000d25;
$error-color: #d67c53;
$font-sans: 'Montserrat', sans-serif;
$font-serif: 'Abril Fatface', serif;
$font-big: 60px;
$font-medium: 30px;
$font-small: 20px;
$font-p: 15px;
$font-tiny: 12px;
$font-heavy: 700;
$font-light: 400;

.card {
  background-color: $dark-color;
  border: none;
  margin-top: 1rem;
}

.card-body {
  padding: 0.5rem;
  display: grid;
  // align-content: space-between;
  // justify-content: space-between;
}

.h5 {
  font-family: $font-sans;
  font-size:  $font-p !important; 
}

.btn {
  box-shadow: none;
  border: none;
}
  
.btn:active,
.btn:hover,
.btn:focus {
  color: $dark-color !important;
  background-color: $primary-color !important;
  box-shadow: none;
  text-decoration: none;
}

// .btn-card{
//   background-color: transparent !important;
//   border: 1px solid $primary-color;
//   border-radius: 0;
//   color: $primary-color !important;
//   padding:  0.4rem;
// }

.delete-favorite {
  background-color: $dark-color !important;
  border: 1px solid $primary-color;
  border-radius: 0;
  color: $primary-color !important;
  font-weight: $font-heavy;
}