$primary-color: #cca53b;
$secondary-color: gainsboro;
// $dark-color: #001625;
$dark-color: #000d25;
$error-color: #d67c53;
$font-sans: 'Montserrat', sans-serif;
$font-serif: 'Abril Fatface', serif;
$font-big: 60px;
$font-medium: 30px;
$font-small: 20px;
$font-p: 15px;
$font-tiny: 12px;
$font-heavy: 700;
$font-light: 400;

.director-view {
  border-top: 1px dotted $primary-color;
  padding-top: 2rem;
  padding-right: 0;
  padding-left: 0;
}

.director-name {
  padding-top: 2rem;
  padding-bottom: 1.5rem;
}

.director-bio {
    padding-top: 1.5rem;
  }

h3 {
  padding-top: 1.5rem;
}